// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1a63c1;
$indigo: #5773cf;
$purple: #823deb;
$pink: #d83d70;
$red: #c0211c;
$orange: #eb8723;
$yellow: #ffed4a;
$green: #1db85e;
$teal: #2ed4c4;
$cyan: #69b8f8;
